<div id="logo-home">
  <div class="container">
      <h1 class="page-header">USUARIOS</h1>
      <button routerLink="/usuario/cadastrar" class="btn btn-primary">Novo Usuario</button>
      <table class="table table-striped table-hover" style="margin-top: 20px;">
          <thead style="background-color: #343a40; color: white;">
              <tr>
                  <th width="200">NOME</th>
                  <th width="300">EMAIL</th>
                  <th width="200">LOGIN</th>
                  <th width="200">SENHA</th>
                  <th width="200"></th>
              </tr>
          </thead>
          <tbody>
              <tr *ngFor="let usuario of usuarios">
                  <td>{{usuario.nome}}</td>
                  <td>{{usuario.email}}</td>
                  <td>{{usuario.login}}</td>
                  <td>{{usuario.senha}}</td>
                  <td>
                      <button class="btn btn-primary" [routerLink]="['/usuario', usuario._id]">
                          <i class="material-icons">edit</i>
                      </button>
                      <button class="btn btn-danger" (click)="deletar(usuario._id)">
                          <i class="material-icons">delete</i>
                      </button>
                  </td>
              </tr>
          </tbody>
      </table>
  </div>
</div>

<div style="display: flex; justify-content: center; align-items: center;">
  <button style="margin-left: 5px;" routerLink="/home" class="btn btn-danger">Voltar</button>
</div>
